/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}


.content {
  margin-left: 24px;
  margin-right: 24px;
  height: 64px;
}

.content span {
  font-weight: bolder;
  color: black;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

@media only screen and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

header .logo {
  flex: 1;
  font-size: 32px;
  color: grey;
}

header nav ul {
  display: flex;
}

nav li {
  padding: 8px;
}

nav a {
  vertical-align: middle;
  line-height: 1.6;
  font-size: 16px;
  color: #4a4a4a;
  text-decoration: none;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem .5rem;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

}

/* Hero */

.hero-banner {
  background-color: lightgray;
  padding-top: 96px;
}

.hero-copy {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  vertical-align: middle;
  font-family: inherit;
}

.hero-banner img {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 2rem 2.5rem 2rem 1.5rem;
  flex-shrink: 0;
}

.hero-banner h1 {
    font-size: 38px;
    font-weight: bold;
    color: #575656;
}

.hero-banner h3 {
    margin: 1.5rem 0;
    font-size: 20px;
    color: #575656;
}

.hero-banner .hero-copy {
    width: 30%;
    box-sizing: border-box;
    padding-right: 24px;
}

.hero-img {
    padding: 32px 24px;
    margin-top: 64px;
}

.hero-banner p, .hero-img p {
    margin-bottom: 1.5rem;
}

.start {
    flex: auto;
    color: white;
    background-color: #575656;
    text-align: center;
    padding: 8px;
    height: 100%;
    width: 75%;
    text-decoration: none;
    font-weight: 50;
}


@media only screen and (max-width: 760px) {
   .hero-banner img {
      width: 100%;
      margin: 0;
   }

   .hero-img {
      padding: 0;
      margin-top: 0;
   }

   .hero-banner {
      padding-top: 80px;
   }

   .hero-banner .hero-copy {
       width: 100%;
       text-align:center;
       box-sizing: border-box;
       padding-right: 32px 16px;
       margin-top: 16px;
   }

   .start {
     margin-left: 12%;
     margin-bottom: 32px;
   }
}

@media only screen and (min-width: 760px) and (max-width: 1200px) {
    .hero-banner .hero-copy {
        width: 100%;
        text-align:center;
        box-sizing: border-box;
        padding-right: 0;
      }

      .hero-banner img {
         width: 100%;
         margin: 0;
      }

      .hero-img {
          padding: 0;
          margin-top: 0;
      }

      .hero-banner .hero-copy {
          width: 100%;
          text-align:center;
          box-sizing: border-box;
          padding-right: 32px 16px;
          margin-top: 32px;
      }

      .start {
        margin-left: 12%;
        margin-bottom: 32px;
      }
}

/* Campus Section */

.information {
  color: #575656;
}

/* Large Containers */

.multi-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.main-pic-box {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-pic-box img, video {
  width: 100%;
  margin-bottom: 2rem;
}

.main-pic-box h2 {
  padding: 0 0 1.5rem 0;
  font-size: 40px;
  font-weight: bolder;
}

.main-pic-box p {
  font-style: italic;
  font-weight: 50;
  font-size: 16px;
}

#mobile-pic {
  display: none;
}

@media only screen and (max-width: 760px) {
    .main-pic-box {
      display: none;
    }
}

.multi-container a:link {
  text-decoration: none;
  color: blue;
}
/* Small Containers*/

.stacked-content-box {
  display: flex;
  flex-flow: column;
  vertical-align: center;
  margin-top: 1rem;
  width: 35%;
  justify-content: space-around;
}

.content-box {
  display: flex;
}

.stacked-content-box h3 {
  font-size: 24px;
  font-weight: bold;
}
.content-box img {
  width: 35%;
  margin: 3.5%;
  vertical-align: middle;
  max-width: 100%;
}

.content-box .side-text {
  width: 56%;
}

.content-box a {
  color: #FF7954;
  padding: 0;
}

.side-text p {
  font-weight: 50;
  font-style: italic;
}

.thesis .main-pic-box {
  padding: 1rem 1rem 1.5rem 1.5rem;
}

#anchor-box {
  background-color: lightgray;
}

@media only screen and (max-width: 760px) {

    .stacked-content-box {
      width: 100%;
    }

    .content-box {
      flex-direction: column;
      justify-content: center;
      padding: 16px;
    }

    .content-box img {
      width: 100%;
      height: auto;
    }

    .content-box .side-text {
      width: 100%;

      text-align: center;
      padding:16px;
    }
}

/* Start Learning Section */

.learning {
  background-color: #F5F5F5;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.headline {
  width: 100%;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  color: gray;
}

.courses-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.courses-list {
  display: none;
}

.course {
  background-color: white;
  width: 32%;
  height: 20rem;
  margin-bottom: 24px;
  justify-content: space-between;
}

.course img {
  width: 100%;
}

.course h6 {
  padding-bottom: 1rem;
}

.course p {
  padding-top: .55rem;
}

.course-content {
  padding: 16px 16px 24px 16px;
}

.course-content span {
  font-size: .8rem;
  color: gray;
}

@media only screen and (max-width: 760px) {
  .learning {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    background-color: white;
  }

  .learning .container {
    margin: 0 auto;
    width: 100%;
  }

  .headline .course-grid {
    display: none !important;
    visibility: hidden;
  }

  .course {
    display: none;
  }

  .courses-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }

.courses-list a {
    background-color: #DCDCDC;
    color: #383838;
    text-decoration: none;
    padding: 16px;
    margin-bottom: 8px;
    font-size: 1.4rem;
  }

  .courses-list a:hover {
      background-color: #F5F5F5;
    }

  .courses-list a:active {
      background-color: #F5F5F5;
    }
}

/* Thesis Section */

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-section video {
  width: 100%;
  object-fit: contain;
  margin-left: 24px;
  margin-right: 24px;
}

.left-section h6 p {
  color: lightgray;
  display: flex;
}

.left-section {
  width: 60%;
}

.right-section {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.first-info {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.first-info h6 {
  vertical-align: middle;
}

.first-info img {
  width: 35%;
  padding: 16px;
}

.info_box {
  display: flex;
  flex-direction: row;
}

.info_box img {
  padding: 16px;
}

.thesis {
  padding: 24px;
}

.thesis p {
  padding-top: 16px;
  padding-bottom: 0px;
  color: gray;
  font-style: italic;
  font-weight: 50;
}

.thesis h6 {
  padding-top: 24px;
  font-size: 24px;
  color: gray;
}

.thesis h2 {
  color: grey;
}

.thesis .box img {
  width: 35%;
  padding: 16px;
}

.thesis .first-info {
  margin-top: 32px;
}

@media only screen and (max-width: 1100px) {
  .first-info p {
    display: none;
    vertical-align: middle;
  }

  .info_box p {
    display: none;
    vertical-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .flex .right-section {
    display: none;
  }

  .flex .left-section {
    width: 100%;
    padding: 0px;
  }


  .flex .left-section p {
    display: none;
  }

  .flex .left-section h6 {
    display: none;
  }

  .first-info {
    display: none;
  }

  .info_box {
    display: none;
  }

  .left-section h6 p {
    display: none;
  }
}

/* Footer Section */

footer{
  background-color: white;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}

.footer-left{
  margin-left: 1.5rem;
  color: gray;
}

.footer-right{
  text-align: right;
  margin-right: 2rem;
  color: gray;
}

.footer-right span{
  margin-left: .5rem;
}
