/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

.content {
  margin-left: 24px;
  margin-right: 24px;
  height: 64px;
}

.content span {
  font-weight: bolder;
  color: black;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

@media only screen and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

header .logo {
  flex: 1;
  font-size: 32px;
  color: grey;
}

header nav ul {
  display: flex;
}

nav li {
  padding: 8px;
}

nav a {
  vertical-align: middle;
  line-height: 1.6;
  font-size: 16px;
  color: #4a4a4a;
  text-decoration: none;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem .5rem;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

}




/* Footer */

footer {
  background-color: black;
  padding: 16px 24px;
}

footer .content {
  color: gray;
  display: flex;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (max-width: 760px) {
  footer .content {
    font-size: .625rem;
  }
}
